/* .gallery {
  padding-block: 4rem;
} */
.gallery__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}
.overlay-image {
  position: fixed;
  display: grid;
  place-items: center;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  animation: overlay 0.5s forwards;
  cursor: pointer;
  z-index: 1001;
}
.overlay-image[data-visible="true"] {
  animation: overlay-image-true 0.5s forwards;
}
@keyframes overlay-image-true {
  from {
    opacity: 0;
    pointer-events: none;
    display: none;
  }
  to {
    pointer-events: visible;
    opacity: 1;
    display: grid;
  }
}
.overlay-image[data-visible="false"] {
  animation: overlay-image-false 0.2s forwards;
}
@keyframes overlay-image-false {
  from {
    pointer-events: visible;
    opacity: 1;
    display: grid;
  }
  to {
    opacity: 0;
    pointer-events: none;
    display: none;
  }
}
.current-gallery-img {
  max-width: 80vw;
  max-height: 80vh;
  outline: 2vw solid rgba(0, 0, 0, 0.537);
  border-radius: 5px;
  animation: curr-img 0.5s forwards;
}
@keyframes curr-img {
  from {
    opacity: 0;
    scale: 0.8;
  }
  to {
    scale: 1;

    opacity: 1;
  }
}
.left-image {
  opacity: 0;
  transform: translateX(-50%);
  animation: left-image 0.5s forwards;
}
@keyframes left-image {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.right-image {
  opacity: 0;
  transform: translateX(50%);
  animation: right-image 0.5s forwards;
}
@keyframes right-image {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.gallery-btn {
  border-radius: 50%;
  aspect-ratio: 1;
  background-color: black;
  color: #fff;
  width: 3rem;
  position: absolute;
}
.gallery-btn i {
  pointer-events: none;
}
.gallery-btn--prev,
.gallery-btn--next {
  transition: 0.2s;
  outline: 2px solid var(--white);
  transform: translateY(-50%);
  top: 80%;
}
.gallery-btn--prev:hover,
.gallery-btn--next:hover {
  transition: 0.2s;
  outline: 2px solid var(--white);
  background-color: hsl(0, 0%, 19%);
}
.gallery-btn--prev {
  left: 1rem;
}
.gallery-btn--next {
  right: 1rem;
}
@media (min-width: 768px) {
  .gallery-btn--prev,
  .gallery-btn--next {
    top: 50%;
  }
}
.gallery__img {
  aspect-ratio: 3/2;
  object-fit: cover;
  cursor: pointer;
}
.gallery__img img {
  height: 100%;
  width: 100%;
}
.gallery__img {
  transition: 0.5s;
}
.gallery__img:hover {
  scale: 1.5;
  box-shadow: 0 0 3rem black;
}
