.nav {
  position: fixed;
  background-color: var(--black);
  left: 0;
  right: 0;
  top: auto;
  z-index: 11;
  height: 57px;
  box-shadow: 0 0 1rem var(--black);
}
.nav__list[data-open="true"] {
  position: fixed;
  inset: 0;
  top: 57px;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0.851) 75%,
    transparent 89%
  );
  animation: list-open 0.5s forwards;
}
@keyframes list-open {
  from {
    transform: translateX(70%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.nav__list[data-open="false"] {
  position: fixed;
  inset: 0;
  top: 57px;
  background-color: rgba(0, 0, 0, 0.506);
  animation: list-close 0.5s forwards;
}
@keyframes list-close {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(70%);
    opacity: 0;
    pointer-events: none;
  }
}
.nav__list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  margin-top: 10rem;
  padding: 3rem;
}
.nav__item {
  text-align: end;
}
.nav__link {
  font-size: 1.7rem;
}
.nav__logo {
  width: 50px;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 1rem;
}
.nav__logo[data-visible="false"] {
  transition: 1s;
  opacity: 0;
}
.nav__logo[data-visible="true"] {
  transition: 1s;
  opacity: 1;
}
