*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  min-height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
img,
picture,
svg,
video {
  max-width: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}
span {
  display: inline-block;
}
ul,
li {
  list-style: none;
}
figure {
  margin: 0;
}
section {
  position: relative;
  padding-block: 6rem;
}
@media (min-width: 1024px) {
  section {
    padding-block: 12vh;
  }
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: hsl(0, 0%, 0%);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: hsl(215, 40%, 61%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(125, 187, 238);
}
